@import "vars";

.site-footer{
    background: $pale;
    padding: 35px 25px;
    font-size: 0.9rem;
    img{
        max-width: 130px;
        margin-bottom: 10px;
    }
}

.site-footer__menu{
    ul{
        padding-left: 0px;
        list-style: none;
        margin-bottom: 0px;
    }
    li{
        display: inline-block;
        margin-right: 10px;
    }
    a{
        color: $blue;
        &:hover{
            text-decoration: none;
        }
        &:focus{
            color: $dark;
            background: $focus;
            outline: 3px solid $focus;
        }
        &:active{
            color: $dark;
        }
    }
}