@import "_vars";

.breadcrumbs{
    padding-left: 0px;
    list-style: none;
}

.breadcrumbs__crumb{
    display: inline;
    &:after{
        content: ">";
        margin-left: 7px;
        margin-right: 7px;
    }
    &:last-child:after{
        content: none;
    }
}