
@import "_vars";

.button{
    display: inline-block;
    border: 3px solid $blue;
    background: none;
    color: $blue;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    &:hover{
        filter: darken($blue, 10)
    }
    &:focus{
        outline: none;
        background: none;
        box-shadow: 0px 0px 0px 3px $focus;
    }
}

.button--white{
    border-color: white;
    color: white;
    &:hover{
        filter: brightness(0.95)
    }
}