@import "_vars";

.site-header{
    background: white;
    padding: 25px;
    position: relative;
}

.site-header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.site-header__masthead{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    img{
        width: 120px;
        margin-right: 10px;
    }

}

.site-header__actions{
    display: flex;
    flex-direction: row;
    align-items: center;

    .mini-search{
        display: none;
        @media screen and (min-width: 1200px){
            display: flex;
        }
    }
}

.site-header__menu-toggle{
    display: block;
    background: none;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
    @media screen and (min-width: 1200px){
        display: none;
    }
}

.site-header__menu{
    display: none;

    @media screen and (max-width: 1200px){
        &.active{
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            z-index: 1;
            background: $dark;
            ul{
                padding-left: 0px;
                list-style: none;
            }
            li{
                padding: 10px 25px;
                display: block;
                margin-right: 15px;
                font-size: 1.1rem;
                font-weight: bold;

                a{
                    color: white;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1200px){
        display: block;
        ul{
            padding-left: 0px;
            list-style: none;
        }
        li{
            display: inline-block;
            margin-right: 15px;
            font-size: 1.1rem;
            font-weight: bold;
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}