@import "_vars";

*{
    box-sizing: border-box;
    color: $dark;
    font-family: "Lato", sans-serif;
}

body{
    margin: 0;
    background: $pale;
}

p, li{
    line-height: 1.5;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden{
    position: absolute !important;
    height: 1px; 
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

@import "page";

@import "header";
@import "mini-search";
@import "announcement";

@import "beta-banner";

@import "breadcrumbs";
@import "sidebar";

@import "buttons";
@import "home";
@import "tree-menu";
@import "pinboard";
@import "downloads";
@import "guides";
@import "feedback";
@import "search-results";

@import "footer";

@import "colour-schemes";