@import "_vars";

.pinboard-list{
    list-style: none;
    padding-left: 0px;
}

.pinboard-list__item{
    margin-bottom: 25px;
    border: 1px solid $grey1;
    border-radius: 5px;
    padding: 35px;

    *:first-child{
        margin-top: 0px;
    }
}